@import './transition.less';
@import './flex.less';

@font-face {
    font-family: Perfect;
    src: url(./fonts/Perfect.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #000;
    color: #fff;
    font-family: Perfect;
    letter-spacing: 1px;
    height: 100vh;
    overflow-x: hidden;
}
ul li {
    list-style: none;
}
.button {
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    color: #fff;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    font-size: 2rem;
    display: inline-block;
    border-radius: 0.25rem;
    border: 0.06rem solid #ffffff;
    height: 2.63rem;
    line-height: 2.63rem;
    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }
}
.highlight {
    color: #cb5fff;
}
.pointer {
    cursor: pointer;
}
.wrapper {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 5rem;
    line-height: 5rem;
}
h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
}
h3 {
    font-size: 2.88rem;
    line-height: 2.94rem;
}
h4 {
    font-size: 2.25rem;
    line-height: 2.25rem;
}
p {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}
@media screen and (max-width: 749px) {
    p {
        line-height: 2rem;
    }
    .btn-group {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        .button {
            font-size: 2rem;
            height: 4.88rem;
            width: 20.91rem;
            line-height: 4.88rem;
        }
    }
}
@media screen and (min-width: 750px) {
    .btn-group {
        height: 7.25rem;
        line-height: 7.25rem;
        .button {
            height: 4.88rem;
            line-height: 4.88rem;
            width: 20.91rem;
            &:not(:last-child) {
                margin-right: 3.75rem;
            }
        }
    }
}
